<a href="https://colab.research.google.com/github/pamelaferreiralima/Desafio-Quiz/blob/main/Aula_01_Algoritmos_e_T%C3%A9cnicas_de_Programa%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python: por que aprender?**

* É fácil
* Tem uma grande comunidade
* Excelentes bibliotecas (exemplos: pandas, numpy, mathplotlib, sklearn, ....)
* A mais usada em ciência de dados
* Demandada no mercado (No cargo de Desenvolvedor Python se inicia ganhando R\$ 2.166,00 de salário e pode vir a ganhar até R\$ 7.009,00. A média salarial para Desenvolvedor Python no Brasil é de R\$ 4.130,00. - site: https://www.vagas.com.br/cargo/desenvolvedor-python)

# **Conceitos iniciais:**

**Variáveis:**
São "caixinhas" na memória do computador que servem para guardar dados.

**Tipos de dados:**
Estes dados podem ser de vários tipos:

* Números **inteiros** (símbolo: 'int'); exemplos: 2, 3, 4, 9, ... sua idade
* Números **reais** (símbolo: 'float'); exemplos: $\pi$=3.14159..., 2.54, seu peso, sua altura, ...
* **Texto** (símbolo: 'str', abreviação de *string*); exemplos: "Oi!", 'Assim também é texto', "Algoritmos e Programação", ..
* .... e outros que veremos adiante

In [ ]:
a = 2
print(a) # estou mostrando o valor da variável 'a'
print(type(a))  # descubro qual é o tipo de dado da variável 'a'

2
<class 'int'>

In [ ]:
b = 3.1415
print(b)
print(type(b))  # descubro qual é o tipo de dado da variável 'b'

c = "Alô, mundo!!"
print(c)
print(type(c))  # descubro qual é o tipo de dado da variável 'c'

3.1415
<class 'float'>
Alô, mundo!!
<class 'str'>

**Descobriu o que faz o operador "="?**

Ele é conhecido como **atribuição**; ele faz com que um valor à direita seja copiado para uma variável à esquerda.
O valor de uma variável pode ser alterado várias vezes durante um programa:

In [ ]:
print(a)
a = 6
print(a)

2
6

**Operações aritméticas:**

Do lado direito da atribuição podemos fazer operações aritméticas:
* \+ (soma),
* \- (subtração),
* \* (multiplicação),
* \/ (divisão real),
* \// (divisão inteira),
* \% (resto da divisão inteira ou módulo)
* \** (exponenciação)


**Exemplos:**

In [ ]:
x = 3
y = 2
z = x + y
print(z)

5

In [ ]:
z = x - y
print(z)

1

In [ ]:
z = x * y
print(z)

6

In [ ]:
z = x / y
print(z)

1.5

In [ ]:
z = x // y
print(z)

1

*Entendeu o que aconteceu aqui em cima? Consegue explicar?*

In [ ]:
x = 11
y = 3
z = x % y
print(z)

2

*E aqui em cima? Consegue explicar?*

In [ ]:
x = 3
y = 2
z = x ** y
print(z)

9

**Entrada e saída de dados:**

Vocês já sabem como mostrar algo na tela do computador, não é?

In [ ]:
print("Alô mundo!")
print('O valor de x é', x, 'e o de y é', y)

Alô mundo!
O valor de x é 3 e o de y é 2

Agora veja como podemos ler algo digitado pelo teclado:

In [ ]:
nome = input('Qual é o seu nome? ')
print('O seu nome é', nome)

Qual é o seu nome? Carlos Menezes
O seu nome é Carlos Menezes

*Repare* que o *input* somente devolve um texto ('str' é uma abreviação de *string*):

In [ ]:
print(type(nome))

<class 'str'>

E como fazemos para ler um número? Uso **int()** ou **float()** para converter um texto em número.

In [ ]:
texto = "123"
print(type(texto))
numero = int(texto)  # converto o texto "123" para o número 123
print(type(numero))

<class 'str'>
<class 'int'>

In [ ]:
idade = int(input('Qual é sua idade? '))  # converto a leitura (texto) em número inteiro
altura = float(input('Qual é sua altura? '))  # converto a leitura (texto) em número real
peso = float(input('Qual é seu peso? '))  # converto a leitura (texto) em número real
print(nome, ', você tem', idade, 'anos de idade,', altura, 'm de altura e', peso, 'kg de peso.')

---
# **Exercícios:**

**Agora é hora de praticar:**

1) Faça um programa em Python que converta dólares em reais.

In [ ]:
# 1) Entrada de dados (quantidade de dólares) --- Entrada
dolares = float(input("Entre com o valor em dólares: "))
# 2) Calcular o valor equivalente em reais --- Processamento
reais = dolares * 5.43
# 3) Mostrar a resposta (em reais) --- Saída
print('US$', dolares, 'equivalem a R$', reais)

Entre com o valor em dólares: 20
US$ 20.0 equivalem a R$ 108.6

2) Faça um programa que converta reais em dólares.

3) Faça um programa que calcule a área de um retângulo e seu perímetro com base em seus dois lados.

4) Faça um programa que converta a temperatura de graus Celsius para graus Fahrenheit.
$$
F = \frac{9}{5}*C + 32
$$

5) Faça um programa que converta a temperatura de graus Fahrenheit para graus Celsius.

6) Faça um programa que calcule o Índice de Massa Corporal (IMC) com base no peso e altura do indivíduo:
$$
IMC = \frac{peso}{altura^2} \\
$$

7) Calcular a hipotenusa de um triângulo retângulo com base em seus catetos:
$$
hipotenusa = \sqrt { cateto_1^2+ cateto_2^2 }
$$

In [ ]:
import math
#Entrada
cateto1 = float(input("Entre com a medida do cateto 1:"))
cateto2 = float(input("Entre com a medida do cateto 2:"))
#Processamento
hipotenusa = math.sqrt(cateto1**2 + cateto2**2)  #SQuare RooT = raiz quadrada
#Saída
print('A hipotenusa mede', hipotenusa)

Entre com a medida do cateto 1:3
Entre com a medida do cateto 2:4
A hipotenusa mede 5.0

8) Faça um programa que calcule a área de um círculo e sua circunferência com base no raio.
$$
circunferencia = 2 * \pi * raio \\
area = \pi * raio ^ 2
$$

In [ ]:
import math
# Entrada
raio = float(input("Entre com a medida do raio: "))
# Processamento
circunferencia = 2*math.pi*raio
area = math.pi * raio**2
# Saída
print("A circunferência mede", circunferencia, "e a área mede", area)

Entre com a medida do raio: 2
A circunferência mede 12.566370614359172 e a área mede 12.566370614359172

9) Faça um programa que calcule a área de um triângulo com base em sua base e sua altura.
$$
area = \frac{base * altura}{2} \\
$$

10) Faça um programa que calcule a área de um triângulo com base em seus três lados (fórmula de Herão ou Hierão). Sendo a, b e c os lados:
$$
p = \frac{a+b+c}{2}, 
area = \sqrt{ p*(p-a)*(p-b)*(p-c) }
$$